<div class="col-12 hero">
		<div>
			<h1 class="hero-title mb-4">Hello, Je suis
				{{user.firstname}}.</h1>
		</div>
		<div><img src="{{ asset('assets/img/avatar-orange.png') }}" alt="avatar" class="avatar">
		</div>
		<div class="hero-subtitle mt-4">
			<p>{{user.profil}}</p>
		</div>
</div>
