<form method="post" action="{{ path('app_back_versionning_delete', {'id': versionning.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce Versionning ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ versionning.id) }}">
    <button class="btn my-2 col-4">Supprimer</button>
</form>
