{% extends 'back/base.html.twig' %}

{% block title %}
	Editer le Versionning
{% endblock %}

{% block body %}
	<h1 class="back-title">Editer le Versionning</h1>
	<div class="d-flex flex-column">
		{{ include('back/versionning/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_back_versionning_index') }}" class="btn my-2 col-4">Retour à la liste</a>

		{{ include('back/versionning/_delete_form.html.twig') }}
	</div>
{% endblock %}
