<form method="post" action="{{ path('app_back_operating_system_delete', {'id': operating_system.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet OS ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operating_system.id) }}">
    <button class="btn my-2 col-4">Supprimer</button>
</form>
