<form method="post" action="{{ path('app_back_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer ce Projet ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn my-2 col-4">Supprimer</button>
</form>
