{% extends 'back/base.html.twig' %}

{% block title %}
	Editer le Langage
{% endblock %}

{% block body %}
	<h1 class="back-title">Editer le Langage</h1>

	<div class="d-flex flex-column">
		{{ include('back/language/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('app_back_language_index') }}" class="btn my-2 col-4">Retour à la liste</a>

		{{ include('back/language/_delete_form.html.twig') }}
	</div>
{% endblock %}
